<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_4679eef45a804aedbcca7ea026be9b52 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_4679eef45a804aedbcca7ea026be9b52" ></div>
        
</body>
<script>    
    
            var map_4679eef45a804aedbcca7ea026be9b52 = L.map(
                "map_4679eef45a804aedbcca7ea026be9b52",
                {
                    center: [52.56, 13.4],
                    crs: L.CRS.EPSG3857,
                    zoom: 11,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_ab5768db6cea41c0a451d221a7373b3e = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_4679eef45a804aedbcca7ea026be9b52);
        
    
            var circle_dc16fc8eb5fc4937a896e1fa3dc94e0e = L.circle(
                [52.56, 13.4],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 11897.879818302492, "stroke": true, "weight": 3}
            ).addTo(map_4679eef45a804aedbcca7ea026be9b52);
        
    
            var marker_cluster_fc0dba36036f4ef3b1bc44ec4c938f4f = L.markerClusterGroup(
                {}
            );
            map_4679eef45a804aedbcca7ea026be9b52.addLayer(marker_cluster_fc0dba36036f4ef3b1bc44ec4c938f4f);
        
    
            var marker_6c09c166ac994addbb9601086204b5cc = L.marker(
                [52.54875835060957, 13.420660774314138],
                {}
            ).addTo(marker_cluster_fc0dba36036f4ef3b1bc44ec4c938f4f);
        
    
            marker_6c09c166ac994addbb9601086204b5cc.bindTooltip(
                `<div>
                     {'id': 'u33dcqhwsn9c', 'name': 'Berlin, Humannplatz'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3ce093c2b2534ef09f5d5f4cbd9e7d5d = L.marker(
                [52.55189660025555, 13.440141387912607],
                {}
            ).addTo(marker_cluster_fc0dba36036f4ef3b1bc44ec4c938f4f);
        
    
            marker_3ce093c2b2534ef09f5d5f4cbd9e7d5d.bindTooltip(
                `<div>
                     {'id': 'u33dcyfbczxc', 'name': 'Berlin, Friesickestr.'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9741ca228ef244da8b99a57596b9dbaf = L.marker(
                [52.531168226748115, 13.500067418354345],
                {}
            ).addTo(marker_cluster_fc0dba36036f4ef3b1bc44ec4c938f4f);
        
    
            marker_9741ca228ef244da8b99a57596b9dbaf.bindTooltip(
                `<div>
                     {'id': 'u33dg5n2nreb', 'name': 'Berlin, Reinhardsbrunner Str.'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f32a7d145b1241be9fb66979d8780a5b = L.marker(
                [52.53245909611511, 13.35052452341235],
                {}
            ).addTo(marker_cluster_fc0dba36036f4ef3b1bc44ec4c938f4f);
        
    
            marker_f32a7d145b1241be9fb66979d8780a5b.bindTooltip(
                `<div>
                     {'id': 'u336zg1xcb0s', 'name': 'Berlin, Stendaler Str.'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0bd93f41491e4f699811aa10f1051ed1 = L.marker(
                [52.5621571180536, 13.373155814668303],
                {}
            ).addTo(marker_cluster_fc0dba36036f4ef3b1bc44ec4c938f4f);
        
    
            marker_0bd93f41491e4f699811aa10f1051ed1.bindTooltip(
                `<div>
                     {'id': 'u33e02dhc078', 'name': 'Berlin, Mickestr.'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_599bf7d19ece4fe893f9fc41ba196c2b = L.marker(
                [52.531341827477306, 13.382377507298745],
                {}
            ).addTo(marker_cluster_fc0dba36036f4ef3b1bc44ec4c938f4f);
        
    
            marker_599bf7d19ece4fe893f9fc41ba196c2b.bindTooltip(
                `<div>
                     {'id': 'u33dbe09pzzg', 'name': 'U Naturkundemuseum (Berlin)'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2f343a4ad5c649309f83ed01713d5b68 = L.marker(
                [52.56220992976986, 13.454244415502119],
                {}
            ).addTo(marker_cluster_fc0dba36036f4ef3b1bc44ec4c938f4f);
        
    
            marker_2f343a4ad5c649309f83ed01713d5b68.bindTooltip(
                `<div>
                     {'id': 'u33e40tj4d5g', 'name': 'Berlin, Rennbahnstr./Gustav-Adolf-Str.'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5cf1394840214f2790e87a204068dd86 = L.marker(
                [52.53240934593909, 13.428881584855965],
                {}
            ).addTo(marker_cluster_fc0dba36036f4ef3b1bc44ec4c938f4f);
        
    
            marker_5cf1394840214f2790e87a204068dd86.bindTooltip(
                `<div>
                     {'id': 'u33dce4x7wgg', 'name': 'Berlin, Hufelandstr.'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_373959067bde4bf6ad1bda5633eca871 = L.marker(
                [52.54264161998003, 13.366015515190512],
                {}
            ).addTo(marker_cluster_fc0dba36036f4ef3b1bc44ec4c938f4f);
        
    
            marker_373959067bde4bf6ad1bda5633eca871.bindTooltip(
                `<div>
                     {'id': 'u33dbjhg4dr9', 'name': 'S+U Wedding (Berlin)'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6d7b17e5172849adbf33e8cb31fe106b = L.marker(
                [52.528741649563734, 13.376935917389847],
                {}
            ).addTo(marker_cluster_fc0dba36036f4ef3b1bc44ec4c938f4f);
        
    
            marker_6d7b17e5172849adbf33e8cb31fe106b.bindTooltip(
                `<div>
                     {'id': 'u33db6sf15nm', 'name': 'Berlin, Invalidenpark'}
                 </div>`,
                {"sticky": true}
            );
        
</script>